@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Orbitron&display=swap');

body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

#hero-image {
    background: url('../images/beer-hero-image.jpg');
    height: 400px;
    width: 100%;
    background-size: cover;
}

#login {
    float: right;
    margin: 30px 20px;
}

#logotype {
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

#slogan {
    clear: left;
}

a h1 {
    float: left;
}