@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Orbitron&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(240, 220, 150);
}

h2 {
    text-transform: uppercase;
}

/*header*/

#hero-image {
    background: url('../images/beer-hero-image.jpg');
    height: 400px;
    width: 100%;
    background-size: cover;
}

#logotype {
    margin: 80px 0 0 10px;
    font-family: 'Orbitron', sans-serif;
    font-size: 400%;
    color: rgb(238, 195, 1);
    background-color: rgba(29, 19, 14, 0.6);
    line-height: 48px;
    letter-spacing: -1px;
    border-radius: 6px;
}

#slogan {
    clear: left;
    margin: 16px 0 10px 40px;
    background-color: rgba(29, 19, 14, 0.6);
    color: rgb(238, 195, 1);
    border-radius: 6px;
    line-height: 24px;
    font-size: 140%;
    font-style: italic;
}


a h1 {
    float: left;
}

/*navbar*/

nav {
    height: 40px;
    width: 100%;
    background-color: rgb(238, 195, 1);
    margin-top: -16px;
}

nav a {
    text-decoration: none;
    font-weight: 600;
    color: inherit;
    text-transform: uppercase;
}

nav a:hover {
    padding: 10.5px;
    margin: 0 -10.5px 0 -10.5px;
    background-color: rgba(29, 19, 14, 0.8);
    color: rgb(238, 195, 1);
}

nav li {
    list-style-type: none;
    display: inline-block;
    padding-left: 6%;
    margin-top: 10px; 
}

#login {
    position: absolute;
    right: 0;
    background-color: rgba(29, 19, 14, 0.8);
    color: rgb(238, 195, 1);
    font-weight: 800;
    padding: 10.5px 20px;
    margin-top: -25px;
}

nav .active {
    padding: 10.5px;
    margin: 0 -10.5px 0 -10.5px;
    background-color: rgba(29, 19, 14, 0.8);
    color: rgb(238, 195, 1);
}

.nav-dropdown-button {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: inherit;
    text-transform: uppercase;
    border: none;
    padding: 0;
    background-color: inherit;
}

.nav-dropdown-button:hover {
    padding: 10.5px;
    margin: -10.5px -10.5px 0 -10.5px;
    background-color: rgba(29, 19, 14, 0.8);
    color: rgb(238, 195, 1);
}

.nav-dropdown-menu {
    position: absolute;
    display: none;
}

/*intro section*/

.float-left {
    float: left;
}

#intro-box {
    background-color: rgb(240, 220, 150);
    width: 55%;
    text-align: center;
    padding: 30px 5% 0px 5%;
}

#intro-box p {
    padding: 5% 0 5% 0;
    font-size: larger;
}

#intro-box p:hover {
    font-size: x-large;
    padding: 3% 0 3% 0;
}


#iframe-box {
    float: right;
    width: 35%;
    height: 300px;
    padding-top: 0.19775%;
}

iframe {
    width: 100%;
    height: 100%;
}

/*style section*/

#style-column-wrapper {
    width: 100%;
    height: 80vh;
    background-color: rgb(240, 220, 150);
    float: left;
}

.style-column {
    height: 80vh;
    display: inline-block;
    width: 33%
}

.style-heading-box {
    width: 100%;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    overflow: hidden;
}

.lagers {
    background:rgb(238, 195, 1);
}

.light-ales {
    background:rgb(211, 122, 7);
}

.dark-ales {
    background:rgb(34, 6, 6);
    color: rgb(240, 220, 150);
}

.style-heading-box:hover {
    height: fit-content;
}

.style-heading-box p {
    margin: 0 16px 8px 16px;
}

.style-heading-box h3 {
    border-top: 8px solid rgb(240, 220, 150);
    padding-top: 16px;
    border-radius: 16px;
    line-height: 32px;
    letter-spacing: 3px;
}

.dark-ales h3 {
    border-color: rgb(240, 220, 150);
}

/*footer*/

footer ul {
    position: fixed;
    bottom: -20px;
    height: 60px;
    width: 100%;
    border-top: 12px solid rgba(29, 19, 14, 0.8);
    background-color: rgb(240, 220, 150);
}

footer a {
    color: inherit;
    color:rgb(34, 6, 6);
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
}

footer li {
    list-style-type: none;
    display: inline-block;
    padding-left: 2%;
}